<header id="header">
      <div class="top_side">

          <h1 class="logomark"><a href="/">
              <span>オリジナル卓上カレンダー制作の&#60;卓カレ&#62;</span>
              <img src="https://www.sc-cal.com/administrator_system/wp-content/themes/cal/common/img/logomark.png" alt="2022年(令和4年)版オリジナル卓上カレンダー作成・制作「卓カレ」">
              <span class="nen">2022年(令和4年)版</span>
          </a></h1>
          
          <div class="contact_box pcmode">
              <p>サンプル・お見積・<br>お問い合わせ承ります！</p>
              <div>
                  <span class="tel-link"><img src="https://www.sc-cal.com/administrator_system/wp-content/themes/cal/common/img/header/tel-img.png" alt="03-6233-7775"></span>
                  <span class="reception-time">営業時間　平日9:00～18:00</span>
              </div>
          </div>
          <!-- <div class="btn01 blue02 arrow pcmode"><a href="https://www.sc-cal.com/order/"><span>ご注文</span></a></div> -->
          <div class="btn01 orange arrow pcmode"><a href="/pages/contact"><span>お問い合わせ</span></a></div>
          <div class="btn01 pink arrow pcmode"><a href="/cart/"><span>カートを見る</span></a></div>

          <!-- <ul class="site-map pcmode">
              <li><a href="/simulation/" title="">ご注文</a></li>
              <li><a href="https://www.sc-cal.com/contact/?entry=2" title="">お問い合わせ</a></li>
          </ul> -->


          <button class="spmode c-hamburger c-hamburger--htx">
              <span>toggle menu</span>
          </button>


          <div class="tel-btn spmode">
              <a href="tel:0362337775" title=""></a>
          </div>
      </div><!-- top_side -->

      <div class="bottom_side">

          <nav id="header-nav" class="accordion-nav">
              <ul id="menu-header" class="nav-list">
                  <li class="menu-item"><a href="/"><span>ホーム</span></a></li>
                  <li class="menu-item"><a href="/pages/howto"><span>はじめての方へ</span></a></li>
                  <li onclick="" class="menu-item menu-item-has-children plan"><span class="nolink"><span>制作プラン</span></span>
                      <div class="sub-menu type01">
                          <ul>
                              <li><a href="/collections/セミオーダータイプ">
                                  <span>セミオーダープラン</span>
                              </a></li>
                              <li><a href="/collections/フルオーダープラン">
                                  <span>フルオーダープラン</span>
                              </a></li>
                              <li><a href="/collections/データ入稿プラン">
                                  <span>データ入稿プラン</span>
                              </a></li>
                          </ul>
                      </div>
                  </li>
                  <!-- <li onclick="" class="menu-item menu-item-has-children case"><a href="/collections"><span>商品ラインナップ</span></a></li> -->
                  <li class="menu-item"><a href="/pages/design"><span>デザイン</span></a></li>
                  <!-- <li onclick="" class="menu-item menu-item-has-children"><span class="nolink"><span>ご料金</span></span>
                      <div class="sub-menu type01">
                          <ul>
                              <li><a href="/price/">
                                  <span>ご料金表</span>
                              </a></li>
                              <li><a href="/price/option.php">
                                  <span>オプションについて</span>
                              </a></li>
                              <li><a href="https://www.sc-cal.com/simulation/?t=m">
                                  <span>お見積シミュレーション</span>
                              </a></li>
                          </ul>
                      </div>
                  </li> -->
              </ul>


              <div class="btn01 pink spmode"><a href="https://www.sc-cal.com/contact/?entry=1"><span>サンプル請求</span></a></div>
              <div class="contact_box spmode">
                  <p>サンプル・お見積・お問い合わせ承ります！</p>
                  <div>
                      <a href="tel:0362337775"><img src="https://www.sc-cal.com/administrator_system/wp-content/themes/cal/common/img/header/tel-img.png" alt="03-6233-7775"></a>
                      <span class="reception-time">営業時間　平日9:00～18:00</span>
                  </div>
              </div>
          </nav><!-- / .header-nav -->


      </div><!-- / #header-inner -->

  </header>